{
  "extends": ["airbnb", "airbnb/hooks", "prettier"],
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "jest": true,
    "node": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"],
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  },
  "rules": {
    "no-console": ["off"],
    "react/jsx-props-no-spreading": ["off"],
    "jsx-a11y/href-no-hash": ["off"],
    "import/no-extraneous-dependencies": 0,
    "react/jsx-filename-extension": [
      "warn",
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "react/prop-types": 0,

    "max-len": [
      "warn",
      {
        "code": 120,
        "tabWidth": 2,
        // "comments": (SET BY USER), - Maximum Line for Comment
        "ignoreComments": false,
        "ignoreTrailingComments": true,
        "ignoreUrls": true,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true,
        "ignoreRegExpLiterals": true
      }
    ]
  }
}
