@import './variables';
body {
  font-family: $font-content;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
}

.header-font {
  font-family: $font-header;
}

a {
  text-decoration: none;
  font-size: 1.7rem;
  font-family: $font-header;
  font-weight: 700;
  color: $color-black;

  border-bottom: 0.2rem solid transparent;
  transition: 0.3s;

  &:hover {
    border-bottom: 0.2rem solid black;
  }
}
