//FONTS
$font-header: 'Nunito', sans-serif;
$font-content: 'Raleway', sans-serif;

//COLORS

$color-red-1: #ff605f;
$color-red-2: #b94545;
$color-black: #000;
$color-white: #fff;
$color-gray: #d7dddb;
$color-blue: #4a7bf3;
$color-green: #338f6c;

//SHADOWS

//BORDER RADIUS
