//FONTS
$font-header: 'Nunito', sans-serif;
$font-content: 'Raleway', sans-serif;

//COLORS

$color-red-1: #ff605f;
$color-red-2: #b94545;
$color-black: #000;
$color-white: #fff;
$color-gray: #d7dddb;
$color-blue: #4a7bf3;
$color-green: #338f6c;

//SHADOWS

$box-shadow-1: rgba(100, 100, 111, 0.2) 0px 0.7rem 3rem 0px;
$box-shadow-1: rgba(0, 0, 0, 0.24) 0px 0.3rem 0.8rem;

//BORDER RADIUS
