@import '../../styles/typography';

.logo {
  display: flex;
  align-items: center;
  &__img {
    display: inline-block;
    background-image: url('../../assets/logo.svg');
    width: 5rem;
    height: 5rem;
    background-size: cover;
  }
  &__text {
    font-size: 2.2rem;
    font-weight: 700;
    color: $color-red-1;
    user-select: none;
  }
}
