@import '../../styles/variables';

.heading {
  &__title {
    font-size: 5rem;
    font-weight: 600;
    @media only screen and (max-width: $bp-small) {
      font-size: 3.5rem;
    }
  }
  &__subtitle {
    color: $color-gray-dark;
    font-weight: 600;
    font-size: 2rem;
  }
}
