@import '../../styles/variables';

.heading {
  &__title {
    font-size: 5rem;
    font-weight: 600;
  }
  &__subtitle {
    color: $color-gray-dark;
    font-weight: 600;
    font-size: 2rem;
  }
}
