@import '/src/styles/variables';

.ticket-status {
  &--pending {
    color: $color-blue;
  }
  &--rejected {
    color: $color-red-1;
  }
  &--accepted {
    color: $color-green;
  }
}
.ticket-response-page {
  &__response-detail {
    display: grid;
    grid-template-rows: 10rem 10rem 20rem;
    align-items: center;
    width: 120rem;
    height: 40rem;
    @media only screen and (max-width: $bp-medium) {
      width: 95vw;
      h1 {
        font-size: 3.5rem;
      }
      h3 {
        font-size: 1.8rem;
      }
    }
  }
}
