@import '/src/styles/variables';

.stat-card {
  width: 20rem;
  height: 15rem;
  border-radius: 1rem;
  padding: 1rem;
  display: grid;
  align-content: space-between;
  font-weight: 600;

  box-shadow: $box-shadow-2;

  color: $color-white;
  &__title {
    font-size: 1.9rem;
  }
  &__detail {
    font-size: 3.5rem;
    justify-self: end;
  }

  &--gray {
    background-color: $color-gray;
    color: $color-black;
  }
  &--green {
    background-color: $color-green;
  }
  &--blue {
    background-color: $color-blue;
  }
  &--red {
    background-color: $color-red-2;
  }
}
