@import '/src/styles/variables';
.new-return-page {
  display: grid;
  grid-template-rows: min-content max-content;
  row-gap: 0.5rem;

  form {
    display: grid;
    width: 120rem;
    grid-template-columns: [personal-start] 50rem [personal-end item-start] 50rem [item-end];
    grid-template-rows: [full-start] min-content [half-start] min-content [half-end] min-content [full-end];
    column-gap: 10rem;

    justify-content: space-between;
  }

  .form {
    &__part {
      &--personal {
        grid-row: full-start/full-end;
      }
      &--item {
        grid-row: full-start/half-end;
      }
      &--button {
        grid-column: item-start/item-end;
        grid-row: half-end/full-end;

        align-self: center;

        button {
          min-width: 50rem;
          max-width: 50rem;
        }
      }
    }
    &__status {
      text-align: center;
      margin: 1rem 0;
      font-weight: 600;
      font-size: 2rem;
      grid-column: personal-start/item-end;
      &--pending {
        color: $color-blue;
      }
      &--success {
        color: $color-green;
      }
      &--fail {
        color: $color-red-2;
      }
    }
  }
}
